<div class="container">
    <!--   titulo da pagina-->
    <h2>Dados do Livro</h2>

    <!-- formulario -->
    <form>

        <!-- inputs -->
      <div class="form-group">
        <label for="titulo">Título:</label>
        <input type="text" class="form-control" id="titulo" [(ngModel)]="livro.titulo" name="titulo">
      </div>

      <!-- inputs -->
      <div class="form-group">
        <label for="resumo">Resumo:</label>
        <textarea class="form-control" id="resumo" [(ngModel)]="livro.resumo" name="resumo"></textarea>
      </div>

      <!-- inputs -->
      <div class="form-group">
        <label for="codEditora">Editora:</label>
        <select class="form-control" id="codEditora" [(ngModel)]="livro.codEditora" name="codEditora">
          <option *ngFor="let editora of editoras" [value]="editora.codEditora">{{ editora.nome }}</option>
        </select>
      </div>

      <!-- inputs -->
      <div class="form-group">
        <label for="autoresForm">Autores (separados por quebras de linha):</label>
        <textarea class="form-control" id="autoresForm" [(ngModel)]="autoresForm" name="autoresForm"></textarea>
      </div>
      
      <!-- inputs -->
      <button class="btn btn-primary" (click)="incluir()">Incluir Livro</button>
    </form>
</div>