
thead > tr > th{
  padding: 20px;
  text-align: center;
  width: 280px;
}

/* conteudo da tabela */
td{
  padding: 20px;
}

#editoras{
  text-align: center;
}
tbody > tr:nth-child(odd){
  background-color: rgb(226, 226, 226);
}
p{
  text-align: justify;
  width: 500px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
