/* main */
main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* table */
table{
  border-collapse: collapse;
}

/*tHead */
thead > tr {
  background-color: rgb(40, 40, 40);
  color: white;
}
thead > tr > th{
  padding: 20px;
}

/* tbody */
tbody > :nth-child(odd){
  background-color: rgb(215, 213, 213);
}

/* button*/
button{
  background-color: rgb(227, 88, 88);
  border-radius: 5px;
  height: 25px;
  border: 0px;
  color: white;
  display: block;
  cursor: pointer;
  margin-top: 5px;
}

/* conteudo da tabela */
td{
  padding: 20px;
}

#editoras{
  text-align: center;
}

p{
  text-align: justify;
  width: 500px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
