*{
    font-family: Arial, Helvetica, sans-serif;
}
/* main */
main{
    flex-direction: row;
    flex-wrap: wrap;
}
/* receitas container */ 
.card{
    height: 450px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}
.card > .card-body > p{
    text-align: justify;
    width: 200px;
}